:host ::ng-deep.fc-prev-button.btn-primary, 
:host ::ng-deep.fc-next-button.btn-primary {
    background-color: transparent !important; 
    border: none !important; 
    box-shadow: none !important; 
    color: black !important;
}
:host ::ng-deep.fc-theme-standard td,
:host ::ng-deep.fc-theme-standard th {
    border: none !important; 
}

:host ::ng-deep.fc--button.btn-primary {
    display: none !important;
}

:host ::ng-deep.fc{
    font-size: 12px;
    border: none !important;
    vertical-align: middle;
}

:host ::ng-deep.fc-view{
    border: none !important;
}

:host ::ng-deep.fc-scrollgrid{
    border: none !important;
}

:host ::ng-deep.td{
    vertical-align: middle;
}

:host ::ng-deep.fc-toolbar-title{
    font-size: 1rem;
}

:host ::ng-deep.fc-theme-bootstrap5 :host ::ng-deep.fc-list, 
:host ::ng-deep.fc-theme-bootstrap5 :host ::ng-deep.fc-scrollgrid, 
:host ::ng-deep.fc-theme-bootstrap5 td, 
:host ::ng-deep.fc-theme-bootstrap5 th {
    border: none !important;
}

:host ::ng-deep.fc-daygrid-day {
    min-height: unset !important;
}

:host ::ng-deep.fc-daygrid-day-events {
    min-height: unset !important;
}

:host ::ng-deep.fc .fc-daygrid-day-frame {
    min-height: unset !important;
    width: 100% !important;
    height: 100% !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

:host ::ng-deep.fc .fc-daygrid-day:not(.fc-day-today) .fc-daygrid-day-frame:hover{
    background-color: #e0e0e0 !important;
    border-radius: 50%  !important;
    width: 100% !important;
    height: 100% !important;
}

:host ::ng-deep.fc-daygrid-day-number {
    padding: 7px !important;
    color: inherit !important;
    text-decoration: none !important;
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 auto !important;
    min-height: unset !important;
}

:host ::ng-deep.fc-daygrid-day.fc-day-today {
    background-color: rgb(70,180,172) !important;
    border-radius: 50% !important;
    color: white !important;
    font-weight: bold !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    height: 100% !important;
}

:host ::ng-deep.fc-col-header-cell-cushion{
    color: inherit !important;
    text-decoration: none !important;
}

:host ::ng-deep.fc-daygrid-day:not(.fc-day-today) .fc-daygrid-day-number:hover{
    background-color: #e0e0e0 !important;
    border-radius: 50%  !important;
    width: 100% !important;
    height: 100% !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
/* :host ::ng-deep.fc-theme-bootstrap5 a{
    border-radius: 50% !important;
    background-color: rgb(70,180,172) !important;
} */