.btntick{
    border: none;
    outline: none;
    color: green;
    
}
.tickicon{
    width: 50px;
    font-weight: 800;
}
.scroll{
    overflow-y: scroll;
    height: 450px;
}
.scroll::-webkit-scrollbar {
    width: 0px; 
    background-color: transparent; 
}